@import "variables";

body {
  background: $bg;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  color: $text-color;
  font-family: "Open Sans", sans-serif;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=""#bd7f66"", endColorstr=""#56423b"", GradientType=1);
}

.text-muted {
  color: $text-color !important;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
}

.table td, .table td {
  vertical-align: middle;
}

.table th, .table td {
  vertical-align: middle;
}

.table {
  margin-bottom: 0;

  a:not(.btn) {
    text-decoration: none;
  }

  td {
    border: 0;
    border-bottom: 1px solid #dee2e67a;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

.block {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background: #0a0a0a2e;
  @include mixin-box-shadow((0 3px 0 rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)));
}

.form-group input, .form-group select, .form-inline input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ffffff73;
  border-radius: 0;
  background: none;
  color: $text-color;
  font-size: 20px;
}

.form-group select option {
  border: 0;
  background: $bg;
  color: $text-color;
}

.form-group input::placeholder, .form-inline input::placeholder {
  color: #ffffff82;
  font-size: 20px;
}

.form-group input:-ms-input-placeholder, .form-inline input::placeholder {
  color: $text-color;
  font-size: 20px;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: $text-color !important;
  -webkit-text-fill-color: $text-color;
}

.form-inline input:-webkit-autofill,
.form-inline input:-webkit-autofill:hover,
.form-inline input:-webkit-autofill:focus,
.form-inline input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: $text-color !important;
  -webkit-text-fill-color: $text-color;
}

label {
  margin-top: .5rem;
  margin-bottom: 0;
  color: $text-color;
  font-weight: 700;
}

.form-control:focus {
  border-bottom: 1px solid #ffffff73;
  outline: 0;
  background-color: transparent;
  color: $text-color;
  box-shadow: none;
}

.btn-outline {
  padding: 7px 20px;
  border: 1px solid $text-color;
  border-radius: 30px;
  color: $text-color;
  font-weight: 400;
}

.btn-outline:hover {
  background: $text-color;
  color: $bg;
}

.time {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.name-of-event {
  width: 450px;
  font-size: 18px;
}
